/* 1. Селектор за тегом */
h1 {
  color: red;
}

/* 2. Селектор за класом */
.paragraf {
  color: blue;
}

/* 3. Селектор за ID */
#strong {
  color: green;
}

/* 4. Селектор за атрибутом */
[type="button"] {
  color: purple;
}

/* 5. Вкладений селектор */
div.parent p {
  color: orange;
}

/* 6. Дочірній селектор */
.menu > li {
  color: brown;
}

/* 7. Послідовність селекторів */
strong + p {
  color: hotpink;
}
h3 ~ p {
  color: aquamarine;
}

/* 8. Комбінація тег + клас + атрибут + ID */
#combo p.combo-item[data-kind="colorful"] {
  color: gold;
}

/* 9. Вкладений + клас */
.outer .inner {
  color: lime;
}

/* 10. Групування */
.group1,
.group2 {
  color: blanchedalmond;
}
